{% extends 'ig/base.html' %}
{% block content %} 
{% include 'ig/nav.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
         
          {% for image in images %} 
          <div class="card">
            <div class="card-heading">
              <div class="media m0">
              {% if image.profile.profile_photo %}
                <div class="media-left"><a href="#"><img src="{{ image.profile.profile_photo.url }}" alt="User" class="rounded-circle thumb48"></a></div>
              {% else %}
                  <div class="media-left"><a href="#"><img src="https://res.cloudinary.com/dbzjjwjbm/image/upload/v1/media/images/20210710_203838_x9lpz3" alt="User" class="rounded-circle thumb48"></a></div>
              {% endif %}
                <div class="media-body media-middle pt-sm">
                  <p class="media-heading m0 text-bold">{{ image.profile.user.username}}</p>
                </div>
              </div>
            </div>
            <div class="card-item">
              <img src="{{ image.image.url }}" alt="MaterialImg" class="fw img-responsive">
            </div>
            <div class="card-footer">
              <a href="" class=""><box-icon name='heart' ></box-icon></a>
              <a href="" class=""><box-icon name='message-rounded' ></box-icon></a>
              <a href="" class=""><box-icon name='paper-plane'></box-icon></a>
              <a href="" class="pull-right"><box-icon name='bookmark'></box-icon></a>

              <div class="card-item-text bg-transparent">
                <p>{{ image.name }}</p>
              </div>
            </div>
            <input type="text"  class="form-control" placeholder="leave a comment">
          </div>
          {% endfor %}
        </div>
        <div class="col-md-5">
          <div class="position-fixed sidesection">
            <div  class="d-flex justify-contend-center">
              <img src="{{ user.profile.profile_photo.url }}" class="rounded-circle" alt="profile-pic"  height="60px" width="60px" >
              <span>
                <p class="px-3"><strong>{{user.username|title}}</strong><br>
                  <small>{{user.username|title}}</small>
                </p> 
              </span>
             <span style="margin-left: 25%; text-decoration: none;"><a href="" class="pull-right px-5">switch</a></span>
            </div>
            <ul>
              <span>
                <p class="mt-3">
                  <span class="text-muted">Suggestions For You </span>
                  <span class="pull-right px-5">
                    <a href=""><small>see all</small></a>
                  </span>
                </p>  
              </span>
              {% for user in profiles %}
              <li class="d-flex justify-contend-center">
              {% if user.profile.profile_photo %}
                <a href="#"><img src="{{ user.profile.profile_photo.url }}" class="rounded-circle" alt="MaterialImg"  height="40px" width="40px"></a>
              {% else %}
                  <a href="#"><img src="https://res.cloudinary.com/dbzjjwjbm/image/upload/v1/media/images/20210710_203838_x9lpz3" class="rounded-circle" alt="MaterialImg"  height="40px" width="40px"></a>
              {% endif %}
                   <p class="px-3"><strong>{{ user.user.username}}</strong> <br>
                    <small>followed by sergio + 4 more</small>
                  </p> 
                <a href="/" class="pull-right px-5"> <small>follow</small></a>                
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}