<nav class="navbar navbar-expand-lg  d-flex justify-contend-center navbar-light bg-light fixed-top border-bottom">
  <!-- Toggler/collapsibe Button -->
  <div class="container">
      <a class="navbar-brand " href="#"><strong>GINSTA</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <form class="d-flex px-5 me-5">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <a href=""><box-icon name='search'></box-icon> </a> 
        </form>
      <div class="collapse navbar-collapse px-5" id="navbarTogglerDemo02">
          <ul class="navbar-nav px-5 me-5">
              <li class="nav-item">
                  <a href="" class="px-md-3 px-sm-4"><box-icon name='message-rounded'></box-icon></a>
              </li>
                <li class="nav-item">
                  <a href="" class="px-md-3 px-sm-4"><box-icon name='heart'></box-icon></a>
              </li>
              <li class="nav-item">
                  <a href="" class="px-md-3 px-sm-4"><box-icon name='paper-plane'></box-icon></a>
              </li>
              <li class="nav-item">
                  <a href="" class="px-md-3 px-sm-4"><box-icon name='bookmark'></box-icon></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-md-3 px-sm-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://res.cloudinary.com/dbzjjwjbm/image/upload/v1/media/images/20210710_203838_x9lpz3" alt="User" class="rounded-circle" style="width: 22px; height: 22px;">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/profile">profile</a></li>
                  <li><a class="dropdown-item" href="/new-post">new post</a></li>
                  <li><a class="dropdown-item" href="#">settings</a></li>
                  <li><a class="dropdown-item" href="#">logout</a></li>
                </ul>
              </li>
            </ul>
      </div> 
   </div>
</nav>
